.section1{
    grid-area: section1;
    .parrafo{
        text-align: center;
        font-size: 1.5rem;
        padding: 20px;
        line-height: 1.5;
        border: black 5px solid;
        margin-top: 10px
        
    }
}